<!DOCTYPE HTML>
<html><head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<meta content="pc,mobile" name="applicable-device">
<meta content="no-transform" http-equiv="Cache-Control">
<meta content="no-siteapp" http-equiv="Cache-Control">
<meta content="width=device-width" name="viewport">
<link href="<?php echo CSS_URL;?>style.css" media="screen" type="text/css" rel="stylesheet">
<script src="<?php echo JS_URL;?>jquery.min.js"></script> 
<title>人生哲理_人生哲理文章阅读_人生哲理语录句子大全_意空间阅读网</title><meta content="人生哲理_人生哲理文章阅读_人生哲理语录句子大全" name="keywords">
<meta content="人生哲理栏目为广大网友奉献人生哲理名言，人生哲理故事，人生哲理文章，哲理名人名言名录大全。" name="description">
</head>
<body class="archive category category-philosophy-life category-18">
{% include 'blog/Public/header.html' %}
<div class="wrapper">
	<div class="content">

<div class="meta">
	<h1 class="meta-tit">{$res.title}</h1>
	<p class="meta-info">发表：<a href="http://yispace.net/">青春励志</a> &nbsp;&nbsp; 发表日期：{$res.time|date='Y-m-d',###}	 &nbsp;&nbsp; </p>
</div>




<div class="entry">
	<p><img width="630" alt="{$res.title}" src="/wenzhang/{$res.pic}" class="aligncenter size-full wp-image-38074"></p>
<p>{$res.desc}</p>
</div>



<div>
<strong>上一篇：</strong>
<a href="http://yispace.net/38061.html" class="prev-post icon-right">
你的第二身份是什么？看后让我沉思良久！</a>
</div>

<div style="margin-top:10px;">
<strong>下一篇：</strong>
<a href="http://yispace.net/38069.html" class="next-post">
我知道，我终将成为更好的人<i class="icon-right"></i></a> 
</div>

<!-- 广告代码 -->
<!-- 百度推荐 -->



</div>
<div class="sidebar">
	
	<div class="widget widget_categories"><h3 class="widget-tit">文章分类</h3>		<ul>
	<volist name="types" id="vo">
	<li class="cat-item cat-item-18 current-cat">
	<a href="__MODULE__/List/index/id/{$vo.id}">{$vo.name}</a>
	</li>
	</volist>
		</ul>
</div>		<div class="widget widget_recent_entries">		<h3 class="widget-tit">最新发表</h3>		<ul>
					<li>
				<a href="http://yispace.net/38069.html">我知道，我终将成为更好的人</a>
						</li>
					<li>
				<a href="http://yispace.net/38073.html">诸葛亮写给儿子的一封信，仅86字！</a>
						</li>
					<li>
				<a href="http://yispace.net/38061.html">你的第二身份是什么？看后让我沉思良久！</a>
						</li>
					<li>
				<a href="http://yispace.net/38065.html">在喜欢的领域里打一场漂亮的持久战</a>
						</li>
					<li>
				<a href="http://yispace.net/37984.html">爱情语录：我己被你完全俘虏，注定此生为你而沉醉</a>
						</li>
					<li>
				<a href="http://yispace.net/37980.html">爱情语录：我们暧昧，我们却不属于对方</a>
						</li>
					<li>
				<a href="http://yispace.net/37976.html">爱情语录：对于你的名字，从今不再想起</a>
						</li>
					<li>
				<a href="http://yispace.net/37972.html">爱情语录：愿因只有三个字：我爱你！永远永远！</a>
						</li>
				</ul>
		</div></div></div>

<div class="footer">
	<div class="inner">
				
		<div class="copyright">
			意空间，<a href="http://yispace.net">青春励志文章</a>阅读，版权所有，保留一切权利！ &copy; 2016 <a href="http://yispace.net">意空间阅读网</a> <a href="http://www.miitbeian.gov.cn" target="_blank">湘ICP备13010121号-3</a>
		</div>
	</div>
</div>








</body></html>