<div class="topbar">
	<div class="inner">
		<a title="意空间阅读网_青春励志文章_励志文章阅读" href="http://yispace.net" class="logo">意空间阅读网</a>
		<ul class="nav">
		<volist name="types" id="vo">	
		<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-31768">
		<a href="__MODULE__/List/index/id/{$vo.id}" >{$vo.name}</a></li>
		</volist>
		</ul>

		<ul class="nav topmenu">
			<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12460" id="menu-item-12460"><a href="http://yispace.net/contact">关于本站</a></li>
		</ul>
	</div>
</div>